<!DOCTYPE html>
<html>
    <head>
        <title>CuppaMo</title>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="#" class="header item">
                <!--img here-->
                CuppaMo
                </a>
            </div>
        </div>
    </head>
    <body>
        