<!DOCTYPE html>
<html>
    <head>
        <title>CuppaMo</title>
         <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="#">
    </head>
       <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="#" class="header item">
                <!--img here-->
                CuppaMo
                </a>
            </div>
        </div>
    <body>
        