<!DOCTYPE html>
<html>
    <head>
        <title>CuppaMo</title>
         <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
         <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
           <div id="nav" class="ui grey secondary pointing menu">
             <div class="ui container">
                <a href="#" class="header item">
                <!--img here-->
                CuppaMo  <i class="fas fa-coffee"></i>
                </a>
                <a href="/" class="item">Home</a>
                <a href="/about" class="item">About</a>
                <a href="/contact" class="item">Contact</a>
                <!--right-->
                 <div class="right menu">
                    <a href="/login" id="log" class="item">
                        <i class="fas fa-user">
                         Login/Sign-up
                         </i>
                    </a>
                 </div>
              </div>
            </div>
     <body>
        