<% include ../partials/header %>

  <h1 id="abouthead">About</h1>
  <form id="aboutbox" class="ui six wide column form segment">
       <div class="ui container">
            <p id="aboutpar">Nulla tempus dignissim erat blandit sagittis. Morbi ut lorem risus. Praesent lacinia odio a felis tincidunt, non scelerisque sem vehicula. Quisque at massa quis metus pulvinar faucibus ac vel lorem. Curabitur blandit volutpat felis a ultrices. Phasellus quis pulvinar elit, nec aliquam felis. Praesent ipsum nulla, mollis quis vehicula nec, porta ut nunc. Suspendisse ac mollis ante. In ut varius leo, sed rutrum ligula. Nulla quis consectetur libero. Fusce in orci a sem facilisis rhoncus. Pellentesque nec nisl commodo sapien eleifend tincidunt. Ut accumsan nisl et dolor rhoncus venenatis. Ut maximus luctus dolor, quis vestibulum nunc malesuada at. Integer cursus at lorem et eleifend. Morbi faucibus, enim ut viverra laoreet, diam ex posuere tortor, feugiat facilisis quam justo vitae libero.</p>
       </div>
  </form>
</div>


<% include ../partials/footer %>