<% include ../partials/header %>

<h2 id="contacthead">Get in touch with us</h2>

<div class="ui container">
  <form id="contactbox" class="ui six wide column form segment">
    
          <a id="gitimg" href="https://github.com/MichOchieng/cuppamo" class="ui center aligned tiny image">
          <img src='https://pbs.twimg.com/profile_images/1017516299143041024/fLFdcGsl_400x400.jpg'>
          </a>
          
          <a id="gitimg" href="https://github.com/MichOchieng/cuppamo" class="ui center aligned tiny image">
          <img src='https://pbs.twimg.com/profile_images/1017516299143041024/fLFdcGsl_400x400.jpg'>
          </a>
          
          <a id="gitimg" href="https://github.com/MichOchieng/cuppamo" class="ui center aligned tiny image">
          <img src='https://pbs.twimg.com/profile_images/1017516299143041024/fLFdcGsl_400x400.jpg'>
          </a>
   </form>
</div>
</div>


<% include ../partials/footer %>