<% include ../partials/header %>
<div class="ui container">
  <!--FIRST GRID-->
 <div class="ui padded stackable three column grid">
  <div class="column">
    <div class="ui segment">
      <img class="ui centered small image" src="https://cdn2.macworld.co.uk/cmsdata/reviews/3660144/macbook_pro_201700.jpg">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img class="ui centered small image" src="https://cdn2.macworld.co.uk/cmsdata/reviews/3660144/macbook_pro_201700.jpg">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img class="ui centered small image" src="https://cdn2.macworld.co.uk/cmsdata/reviews/3660144/macbook_pro_201700.jpg">
    </div>
  </div>
</div>
<!--SECOND GRID-->
<div class="ui stackable two column grid">
  <div class="eight wide column">
    <div class="ui segment">
      <img class="ui centered small image" src="https://cdn2.macworld.co.uk/cmsdata/reviews/3660144/macbook_pro_201700.jpg">
    </div>
  </div>
  <div class="eight wide column">
    <div class="ui segment">
      <img class="ui centered small image" src="https://cdn2.macworld.co.uk/cmsdata/reviews/3660144/macbook_pro_201700.jpg">
    </div>
  </div>
  <!--THIRD GRID-->
</div>

<% include ../partials/footer %>