<% include ../partials/header %>

<div class="ui column stackable center page grid">
  <div class="four wide column"></div><!-- empty div just padding -->
  <form class="ui six wide column form segment">
     <h1>
        <stong>Join CuppaMo</stong>
        </h1>
     <!-- login-->
     <input type="text" name="Username" placeholder="Username">
     <input type="password" name="Password" placeholder="Password">
     <p>Already a member? Sign in <a href="#">here</a></p>
  </form>
</div>

<% include ../partials/footer %>