<% include ../partials/header %>

<div class="ui column stackable center page grid">
  <div class="four wide column"></div><!-- empty div just padding -->
  <form id="mainbox" class="ui six wide column form segment">
     <h1 class="signhead">
        <stong>Join CuppaMo</stong>
        </h1>
     <!-- login-->
     <div class="ui container">  
         <input id="email" type="email" name="email" placeholder="Email">
         <input id="user" type="text" name="Username" placeholder="Username">
         <input id='pass' type="password" name="Password" placeholder="Password" pattern=".{8,12}" required title="8 to 12 characters">
     </div>
     <div id="submit" class="ui black animated button" tabindex="0">
         <div class="visible content">Submit</div>
            <div class="hidden content">
               <i class="right arrow icon"></i>
            </div>
     </div>
     <p class="signlink">Already a member? Login <a href="/login">here!</a></p>
  </form>
</div>

<% include ../partials/footer %>
