/*nav bar styles*/
#nav {
    margin: 0 10% 0 10%;
}

/*login/sign up styling*/
#email{
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#user{
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;
/*border: 1px solid #000000;*/
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#pass {
    margin-top: 10px;
    margin-bottom: 20px;
    background: #FFFFFF;
/*border: 1px solid #000000;*/
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#mainbox {
    background-color: #F8F8F6;
    text-align: center;
    margin-top: 150px;
    margin-left: 30px;
    /* Rectangle 2 */
}

#submit {
    /* Rectangle 3 */
background: #000000;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-bottom: 5px;

}

.signhead {
    /* Join CuppaMo */
font-family: Georgia;
font-style: normal;
font-weight: bold;
line-height: normal;

text-align: center;

color: #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.signlink {
    /* Already have an account? Click here! */
font-family: Georgia;
font-style: normal;
font-weight: normal;
line-height: normal;
text-align: center;

color: #000000;

}

/*about page*/

#aboutbox {
    /* Rectangle */

position: absolute;
width: 1083px;
height: 254px;
left: 178px;
top: 258px;

background: #F8F8F6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#abouthead {
    text-align: center;
    
    /* About us */

position: absolute;
width: 436px;
height: 51px;
left: 501px;
top: 168px;

font-family: Montserrat;
font-style: normal;
font-weight: 200;
line-height: normal;
font-size: 36px;
text-align: center;

color: #000000;

}

#aboutpar {
    text-align: center;
    top: 50px;
}

/*contact*/

#contactbox{
    /* Rectangle */

position: absolute;
width: 1080px;
height: 503px;
left: 225px;
top: 160px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

#contacthead {
    /* Get in touch with us */
font-family: Montserrat;
font-weight: 200;
line-height: normal;
font-size: 36px;
text-align: center;

color: #000000;

}

/*===========GRID============*/

.ui.padded{
    padding-top: 30px;
}


/*=============IMages===========*/

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay0, .overlay1, .overlay2, .overlay3, .overlay4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}


.overlay0:hover, .overlay1:hover, .overlay2:hover, .overlay3:hover, .overlay4:hover{
  opacity: 1;
}

a {
    color: white
}

